<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="description" content="Líder en el mercado papelero de México"/>
    <title>Fortec | Renovados y fortalecidos</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css"/>
    <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900&amp;display=swap"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"/>
    <link rel="stylesheet" href="app/app.css"/>
  </head>
  <body>
    <div id="app">
      <div class="logo" data-aos="fade-right" data-aos-duration="2000"><img src="app/img/fortec.png" alt="Fortec"/></div>
      <section class="maincontent">
        <header data-aos="fade-down" data-aos-duration="600">
          <div class="container">
            <div class="column is-8 is-offset-4">
              <div class="is-size-1"><span data-aos="fade-left" data-aos-duration="2000" data-aos-delay="500">RENOVADOS</span> <br/><span data-aos="fade-left" data-aos-duration="2000" data-aos-delay="1000">Y FORTALECIDOS</span></div>
              <div class="is-size-5">Somos una marca fabricante y comercializadora <br/>de una amplia gama de productos <br/>de papelería escolar y de oficina.</div>
            </div>
          </div>
        </header>
        <nav data-aos="zoom-out-down" data-aos-duration="2000">
          <ul class="columns is-gapless has-text-centered">
            <li class="column"><a href="#nosotros"><svg width="27" height="54" viewBox="0 0 27 54" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M26.0285 26.0285L0 0V26.0285H26.0285ZM19.2958 23.2398L2.78877 6.73269V23.2398H19.2958Z" fill="#5F5E5E"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M26.0285 26.0285L0 0V26.0285H26.0285ZM19.2958 23.2398L2.78877 6.73269V23.2398H19.2958Z" fill="url(#paint0_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M0 27.3964H26.0285L0 53.4249V27.3964ZM2.78877 46.6922L19.2958 30.1851H2.78877V46.6922Z" fill="#5F5E5E"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M0 27.3964H26.0285L0 53.4249V27.3964ZM2.78877 46.6922L19.2958 30.1851H2.78877V46.6922Z" fill="url(#paint1_linear)"/>
<defs>
<linearGradient id="paint0_linear" x1="13.0143" y1="0" x2="13.0143" y2="46.1644" gradientUnits="userSpaceOnUse">
<stop stop-color="#1E1E1E"/>
<stop offset="1" stop-color="#959595" stop-opacity="0"/>
</linearGradient>
<linearGradient id="paint1_linear" x1="13.0143" y1="3.07762" x2="13.0143" y2="53.4249" gradientUnits="userSpaceOnUse">
<stop stop-color="#1E1E1E"/>
<stop offset="1" stop-color="#959595" stop-opacity="0"/>
</linearGradient>
</defs>
</svg>
<span>Nosotros</span></a></li>
            <li class="column"><a href="#productos"><svg width="33" height="36" viewBox="0 0 33 36" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M6.5072 0H32.5357L6.5072 26.0285V0ZM9.29597 19.2958L25.803 2.78877H9.29597V19.2958Z" fill="#5F5E5E"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M6.5072 0H32.5357L6.5072 26.0285V0ZM9.29597 19.2958L25.803 2.78877H9.29597V19.2958Z" fill="url(#paint0_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M26.0285 35.3244L0 35.3244L26.0285 9.2959L26.0285 35.3244ZM23.2398 16.0286L6.73269 32.5357L23.2398 32.5357L23.2398 16.0286Z" fill="#5F5E5E"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M26.0285 35.3244L0 35.3244L26.0285 9.2959L26.0285 35.3244ZM23.2398 16.0286L6.73269 32.5357L23.2398 32.5357L23.2398 16.0286Z" fill="url(#paint1_linear)"/>
<defs>
<linearGradient id="paint0_linear" x1="19.5215" y1="0" x2="19.5215" y2="33.8539" gradientUnits="userSpaceOnUse">
<stop stop-color="#1E1E1E"/>
<stop offset="1" stop-color="#959595" stop-opacity="0"/>
</linearGradient>
<linearGradient id="paint1_linear" x1="13.0143" y1="0.341963" x2="13.0143" y2="35.3244" gradientUnits="userSpaceOnUse">
<stop stop-color="#1E1E1E"/>
<stop offset="1" stop-color="#959595" stop-opacity="0"/>
</linearGradient>
</defs>
</svg>
<span>Productos</span></a></li>
            <li class="column"><a href="#catalogo"><svg width="38" height="39" viewBox="0 0 38 39" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M18.4049 0L36.8099 18.4049H0L18.4049 0ZM18.4049 3.94392L6.73269 15.6162H30.0772L18.4049 3.94392Z" fill="#5F5E5E"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M18.4049 0L36.8099 18.4049H0L18.4049 0ZM18.4049 3.94392L6.73269 15.6162H30.0772L18.4049 3.94392Z" fill="url(#paint0_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M18.7786 38.7312L0.373657 20.3262L37.1836 20.3262L18.7786 38.7312ZM30.4509 23.115L18.7786 34.7872L7.10635 23.115L30.4509 23.115Z" fill="#5F5E5E"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M18.7786 38.7312L0.373657 20.3262L37.1836 20.3262L18.7786 38.7312ZM30.4509 23.115L18.7786 34.7872L7.10635 23.115L30.4509 23.115Z" fill="url(#paint1_linear)"/>
<defs>
<linearGradient id="paint0_linear" x1="18.4049" y1="0" x2="18.4049" y2="36.9315" gradientUnits="userSpaceOnUse">
<stop stop-color="#1E1E1E"/>
<stop offset="1" stop-color="#959595" stop-opacity="0"/>
</linearGradient>
<linearGradient id="paint1_linear" x1="18.7786" y1="2.73566" x2="18.7786" y2="38.7312" gradientUnits="userSpaceOnUse">
<stop stop-color="#1E1E1E"/>
<stop offset="1" stop-color="#959595" stop-opacity="0"/>
</linearGradient>
</defs>
</svg>
<span>Catálogo</span></a></li>
            <li class="column"><a href="#contacto"><svg width="27" height="48" viewBox="0 0 27 48" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M26.0285 47.4091L0 47.4091L26.0285 21.3806L26.0285 47.4091ZM23.2398 28.1133L6.73269 44.6204L23.2398 44.6204L23.2398 28.1133Z" fill="#5F5E5E"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M26.0285 47.4091L0 47.4091L26.0285 21.3806L26.0285 47.4091ZM23.2398 28.1133L6.73269 44.6204L23.2398 44.6204L23.2398 28.1133Z" fill="url(#paint0_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M7.25 0L7.25 36.8099L25.655 18.405L7.25 0ZM10.0388 6.73269L10.0388 30.0772L21.711 18.405L10.0388 6.73269Z" fill="#5F5E5E"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M7.25 0L7.25 36.8099L25.655 18.405L7.25 0ZM10.0388 6.73269L10.0388 30.0772L21.711 18.405L10.0388 6.73269Z" fill="url(#paint1_linear)"/>
<defs>
<linearGradient id="paint0_linear" x1="13.0143" y1="2.05175" x2="13.0143" y2="47.4091" gradientUnits="userSpaceOnUse">
<stop stop-color="#1E1E1E"/>
<stop offset="1" stop-color="#959595" stop-opacity="0"/>
</linearGradient>
<linearGradient id="paint1_linear" x1="16.4525" y1="0" x2="16.4525" y2="46.5064" gradientUnits="userSpaceOnUse">
<stop stop-color="#1E1E1E"/>
<stop offset="1" stop-color="#959595" stop-opacity="0"/>
</linearGradient>
</defs>
</svg>
<span>Contacto</span></a></li>
          </ul>
        </nav>
        <section id="nosotros" data-aos="zoom-in" data-aos-delay="2000">
          <div class="container">
            <div class="columns is-gapless is-vcentered">
              <div class="column is-8" data-aos="fade-right" data-aos-delay="2500">
                <p>Con más de <strong>70 años en el mercado</strong> hemos logrado introducir al mercado productos lideres como: Sobres, Folders, Agendas, Calendarios, Formas y Libros Contables, Cajas para Archivo, Papeles de Colores y otros más…</p>
              </div>
              <div class="column has-text-right fldrs">
                <figure class="image"><img src="app/img/fortec-folders.png" alt="70 años en el mercado" data-aos="fade-up" data-aos-delay="2500"/></figure>
              </div>
            </div>
          </div>
        </section>
        <section id="nuestra-experiencia">
          <div class="container">
            <h2 class="is-size-1">Nuestra<br/>experiencia</h2>
            <div class="columns">
              <div class="column is-8">
                <article class="timeline" data-aos="fade-right">
                  <div class="columns is-vcentered">
                    <div class="column is-4">
                      <div class="time">1946</div>
                    </div>
                    <div class="column text">
                      <p>Las raíces de Fortec se remontan a Importadora y Distribuidora Tam-Mex empresa fundada en 1946, donde a los 17 años ingresa a trabajar Celso Manuel Paredes Fernández, hijo de uno de los fundadores, quien al paso de los años estudia los procesos de impresión, manejo de papel y tintas en la Escuela de Artes Gráficas de los “Misioneros Josefinos”.</p>
                    </div>
                  </div>
                </article>
              </div>
            </div>
            <div class="columns">
              <div class="column is-8 is-offset-1">
                <article class="timeline" data-aos="fade-right">
                  <div class="columns is-vcentered">
                    <div class="column is-4">
                      <div class="time">1961</div>
                    </div>
                    <div class="column text">
                      <p>Este aprendizajes que le permiten fundar su propia compañía en 1961, bajo el nombre de Pafer, la que 4 años más tarde, en 1965, fusiona con Tam-Mex para cubrir la demanda de formas administrativas y contable del mercado nacional.</p>
                    </div>
                  </div>
                </article>
              </div>
            </div>
            <div class="columns">
              <div class="column is-8 is-offset-2">
                <article class="timeline" data-aos="fade-right">
                  <div class="columns is-vcentered">
                    <div class="column is-4">
                      <div class="time">1968</div>
                    </div>
                    <div class="column text">
                      <p>3 años después, en 1968, la empresa adopta el nombre de Formas Técnicas Contables (FORTEC) para después ser fusionada y conocida como Irasa-Fortec, hasta que el 1 de noviembre de 2016, vuelve a nacer como Comercial Fortec, bajo la Dirección del Ing. Enrique Paredes, quien con ello hace un homenaje a la obra de su padre, Don Manuel Paredes (qepd).</p>
                    </div>
                  </div>
                </article>
              </div>
            </div>
          </div>
        </section>
        <section id="productos">
          <div class="section container">
            <h2 class="is-size-1">Productos</h2>
          </div>
          <div class="container">
            <div class="columns">
              <aside class="column is-3">
                <h3 class="is-size-4">Folders</h3>
                <p>Manejamos tamaños como carta y oficio, folders de color tradicional, con colores intensos y lux.</p>
                <div class="has-text-right">
                  <button class="button is-white is-small" data-aos="fade-left"><span>Ver folders</span>
                    <div class="button is-warning"><i class="fas fa-arrow-right"></i></div>
                  </button>
                </div>
                <h3 class="is-size-4">Sobre</h3>
                <p>Amplio surtido de sobres manila, blancos, especiales y de correspondencia.</p>
                <div class="has-text-right">
                  <button class="button is-white is-small" data-aos="fade-left"><span>Ver sobres</span>
                    <div class="button is-warning"><i class="fas fa-arrow-right"></i></div>
                  </button>
                </div>
                <h3 class="is-size-4">Papeles</h3>
                <p>Encuentra papeles de colores, neón, pastel y sunshine.</p>
                <div class="has-text-right">
                  <button class="button is-white is-small" data-aos="fade-left"><span>Ver papeles</span>
                    <div class="button is-warning"><i class="fas fa-arrow-right"></i></div>
                  </button>
                </div>
                <h3 class="is-size-4">Carpetas</h3>
                <p>Carpetas en múltiples tamaños, al igual que carpetas registradoras.</p>
                <div class="has-text-right">
                  <button class="button is-white is-small" data-aos="fade-left"><span>Ver carpetas</span>
                    <div class="button is-warning"><i class="fas fa-arrow-right"></i></div>
                  </button>
                </div>
              </aside>
              <section class="column products-categories">
                <div class="section">
                  <div class="columns is-multiline is-mobile">
                                        <div class="column is-6-mobile is-4-tablet" data-aos="flip-left">
                                          <div class="card cardProduct">
                                            <div class="card-image">
                                              <figure class="image"><img src="app/img/productos/carpetas-blancas.jpg"/></figure>
                                            </div>
                                            <footer class="card-footer"><a class="card-footer-item button is-info" href="#">Carpetas Blancas</a></footer>
                                          </div>
                                        </div>
                                        <div class="column is-6-mobile is-4-tablet" data-aos="flip-left">
                                          <div class="card cardProduct">
                                            <div class="card-image">
                                              <figure class="image"><img src="app/img/productos/burbuja.jpg"/></figure>
                                            </div>
                                            <footer class="card-footer"><a class="card-footer-item button is-info" href="#">Burbuja</a></footer>
                                          </div>
                                        </div>
                                        <div class="column is-6-mobile is-4-tablet" data-aos="flip-left">
                                          <div class="card cardProduct">
                                            <div class="card-image">
                                              <figure class="image"><img src="app/img/productos/registradores.jpg"/></figure>
                                            </div>
                                            <footer class="card-footer"><a class="card-footer-item button is-info" href="#">Registradores</a></footer>
                                          </div>
                                        </div>
                                        <div class="column is-6-mobile is-4-tablet" data-aos="flip-left">
                                          <div class="card cardProduct">
                                            <div class="card-image">
                                              <figure class="image"><img src="app/img/productos/folder-intenso.jpg"/></figure>
                                            </div>
                                            <footer class="card-footer"><a class="card-footer-item button is-info" href="#">Folder Intenso</a></footer>
                                          </div>
                                        </div>
                                        <div class="column is-6-mobile is-4-tablet" data-aos="flip-left">
                                          <div class="card cardProduct">
                                            <div class="card-image">
                                              <figure class="image"><img src="app/img/productos/caja-archivo.jpg"/></figure>
                                            </div>
                                            <footer class="card-footer"><a class="card-footer-item button is-info" href="#">Caja Archivo</a></footer>
                                          </div>
                                        </div>
                                        <div class="column is-6-mobile is-4-tablet" data-aos="flip-left">
                                          <div class="card cardProduct">
                                            <div class="card-image">
                                              <figure class="image"><img src="app/img/productos/calculadoras.jpg"/></figure>
                                            </div>
                                            <footer class="card-footer"><a class="card-footer-item button is-info" href="#">Calculadoras</a></footer>
                                          </div>
                                        </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </section>
        <section id="catalogo">
          <div class="section container">
            <h2 class="is-size-1">Catálogo</h2>
          </div>
          <div class="bannerCatalogo" data-aos="zoom-out">
            <div class="container">
              <div class="columns is-vcentered">
                <div class="column is-6">
                  <h4 class="is-size-3">Catálogo de agendas</h4>
                  <ul>
                    <li>Días feriados oficiales</li>
                    <li>Larga distancia nacional e internacional</li>
                    <li>Husos horarios</li>
                    <li>Teléfonos de emergencia y hospitales</li>
                    <li>y más...</li>
                  </ul>
                </div>
                <div class="column has-text-centered"><svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M19 37.8099L0.595051 19.4049L37.405 19.405L19 37.8099ZM30.6723 22.1937L7.32774 22.1937L19 33.866L30.6723 22.1937Z" fill="#5F5E5E"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M19 37.8099L0.595051 19.4049L37.405 19.405L19 37.8099ZM30.6723 22.1937L7.32774 22.1937L19 33.866L30.6723 22.1937Z" fill="url(#paint0_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M37.8099 3.04525e-06L1.00003 -1.60901e-06L19.405 18.405L37.8099 3.04525e-06ZM31.0772 2.78877L7.73272 2.78877L19.405 14.461L31.0772 2.78877Z" fill="#5F5E5E"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M37.8099 3.04525e-06L1.00003 -1.60901e-06L19.405 18.405L37.8099 3.04525e-06ZM31.0772 2.78877L7.73272 2.78877L19.405 14.461L31.0772 2.78877Z" fill="url(#paint1_linear)"/>
<defs>
<linearGradient id="paint0_linear" x1="41.87" y1="-3.46508" x2="9.79753" y2="28.6074" gradientUnits="userSpaceOnUse">
<stop stop-color="#1E1E1E"/>
<stop offset="1" stop-color="#959595" stop-opacity="0"/>
</linearGradient>
<linearGradient id="paint1_linear" x1="37.8099" y1="9.20248" x2="-8.69644" y2="9.20247" gradientUnits="userSpaceOnUse">
<stop stop-color="#1E1E1E"/>
<stop offset="1" stop-color="#959595" stop-opacity="0"/>
</linearGradient>
</defs>
</svg>
<br/><a class="button" href="CATALOGO-agendas.pdf" target="_blank">
                    <div>Descargar catálogo</div></a>
                </div>
              </div>
            </div>
          </div>
          <div class="bannerCatalogo" data-aos="zoom-out">
            <div class="container">
              <div class="columns is-vcentered">
                <div class="column is-6">
                  <h4 class="is-size-3">Catálogo de productos</h4>
                  <ul>
                    <li>Folders</li>
                    <li>Carpetas</li>
                    <li>Cajas archivo</li>
                    <li>Calculadoras</li>
                    <li>y más...</li>
                  </ul>
                </div>
                <div class="column has-text-centered"><svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M19 37.8099L0.595051 19.4049L37.405 19.405L19 37.8099ZM30.6723 22.1937L7.32774 22.1937L19 33.866L30.6723 22.1937Z" fill="#5F5E5E"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M19 37.8099L0.595051 19.4049L37.405 19.405L19 37.8099ZM30.6723 22.1937L7.32774 22.1937L19 33.866L30.6723 22.1937Z" fill="url(#paint0_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M37.8099 3.04525e-06L1.00003 -1.60901e-06L19.405 18.405L37.8099 3.04525e-06ZM31.0772 2.78877L7.73272 2.78877L19.405 14.461L31.0772 2.78877Z" fill="#5F5E5E"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M37.8099 3.04525e-06L1.00003 -1.60901e-06L19.405 18.405L37.8099 3.04525e-06ZM31.0772 2.78877L7.73272 2.78877L19.405 14.461L31.0772 2.78877Z" fill="url(#paint1_linear)"/>
<defs>
<linearGradient id="paint0_linear" x1="41.87" y1="-3.46508" x2="9.79753" y2="28.6074" gradientUnits="userSpaceOnUse">
<stop stop-color="#1E1E1E"/>
<stop offset="1" stop-color="#959595" stop-opacity="0"/>
</linearGradient>
<linearGradient id="paint1_linear" x1="37.8099" y1="9.20248" x2="-8.69644" y2="9.20247" gradientUnits="userSpaceOnUse">
<stop stop-color="#1E1E1E"/>
<stop offset="1" stop-color="#959595" stop-opacity="0"/>
</linearGradient>
</defs>
</svg>
<br/><a class="button" href="CATALOGO.pdf" target="_blank">
                    <div>Descargar catálogo</div></a>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section id="contacto">
          <div class="section container">
            <h2 class="is-size-1">Contacto</h2>
            <div class="columns">
              <address class="column is-6">
                <h5 class="is-size-5">Dirección</h5>
                <p>Av. Primero de Mayo No 120 Piso 2, Col. San Andrés Atoto, Naucalpan de Juárez Estado de México, C.P. 53500, México.</p>
                <button class="button is-small" @click="vermapa = true"><i class="fas fa-map-marker"></i><span>Ver mapa</span></button>
                <b-modal :active.sync="vermapa" has-modal-card="has-modal-card">
                  <div class="card">
                    <div class="card-image">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3761.7492551681985!2d-99.22941148479451!3d19.466374744643378!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d20251bf32ae35%3A0xd7efcdd27c1b4f57!2sPiso%202%2C%20Av.%20Primero%20de%20Mayo%20120%2C%20Naucalpan%2C%2053489%20Naucalpan%20de%20Ju%C3%A1rez%2C%20M%C3%A9x.!5e0!3m2!1ses-419!2smx!4v1574274003614!5m2!1ses-419!2smx" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                    </div>
                    <div class="card-content">
                      <div class="media">
                        <div class="media-left">
                          <figure class="image"><img src="app/img/fortec.png" alt="Fortec"/></figure>
                        </div>
                        <div class="media-content">
                          <p>Av. Primero de Mayo No 120 Piso 2, Col. San Andrés Atoto, Naucalpan de Juárez Estado de México, C.P. 53500, México.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </b-modal>
                <h5 class="is-size-5">Correo electrónico</h5>
                <p><a href="mailto:ventas@fortec.com.mx">ventas@fortec.com.mx</a></p>
                <h5 class="is-size-5">Teléfono</h5>
                <p><a href="tel:5515550680">55 1555 0680</a></p>
                <p><a href="tel:5515550681">55 1555 0681</a></p>
              </address>
              <form class="column" action="#">
                <h5 class="is-size-5">¿En qué área podemos ayudarte?</h5>
                <b-field>
                  <b-radio-button v-model="form.area" native-value="Cotización" type="is-info"><span>Cotización</span></b-radio-button>
                  <b-radio-button v-model="form.area" native-value="Contacto" type="is-info"><span>Contacto</span></b-radio-button>
                  <b-radio-button v-model="form.area" native-value="Duda o queja" type="is-info"><span>Duda o queja</span></b-radio-button>
                </b-field>
                <b-field label="Nombre">
                  <b-input v-model="form.nombre"></b-input>
                </b-field>
                <div class="columns">
                  <div class="column">
                    <b-field label="Correo electrónico">
                      <b-input v-model="form.correo"></b-input>
                    </b-field>
                  </div>
                  <div class="column">
                    <b-field label="Teléfono">
                      <b-input v-model="form.telefono"></b-input>
                    </b-field>
                  </div>
                </div>
                <b-field label="Mensaje">
                  <b-input v-model="form.mensaje" type="textarea"></b-input>
                </b-field>
              </form>
            </div>
          </div>
        </section>
        <footer class="has-text-centered">Todos los derechos reservados Fortec 2019</footer>
      </section>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>
    <script src="app/app.js"></script>
  </body>
</html>