/* RESPONSIVE RULES */
@mobile: ~'(max-width: 767px)';

/* COLORS */
@b: #5F5E5E;
@w: #FFFFFF;
@main: #F9B800;
@sec: #0083E1;

/* FONTS */
.font {
    font-family: 'Montserrat', sans-serif;
}

/* STYLES */
html {
    padding-left: 40px;
    padding-bottom: 0;
    background: @main;
    @media @mobile {
        padding-left: 0;
    }
}
body {
    background: @w;
    /* min-height: 100vh; */
    .font;
    color: @b;
}
.logo {
    width: 240px;
    padding: 10px 20px;
    background: @w;
    position: absolute;
    z-index: 9;
    left: 0;
    top: 10px;
    position: fixed;
    box-shadow: 20px 0 40px rgba(0, 0, 0, 0.1);
}

.maincontent {
    header {
        background-image: url(img/head.jpg);
        background-position: right;
        background-size: cover;
        text-align: right;
        padding: 120px 0;
        .is-size-1 {
            font-weight: 900;
            span {
                display: inline-block;
                border-bottom: 4px solid @main;
            }
        }
    }
    nav {
        ul {
            li {
                a {
                    display: block;
                    background: @b;
                    color:@w;
                    display: flex;
                    justify-content: center;
                    padding: 20px 4px;
                    font-weight: 700;
                    svg {
                        max-height: 26px;
                        * {
                            fill: @main;
                        }
                    }
                }
            }
        }
    }
}


#nosotros {
    background: @sec;
    color: @w;
    margin: 140px 0 0 0;
    @media @mobile {
        margin: 80px 0 0 0;
    }
    strong { color: @w; }
    p {
        padding: 40px 0;
        @media @mobile {
            text-align: center;
            padding: 40px 20px 100px 20px;
        }
    }
    .fldrs{
        margin: 0;
        padding: 0;
        .image {
            position: absolute;
            bottom: 0; right: 0;
            max-width: 280px;
            @media @mobile {
                max-width: 140px;
            }
        }
    }
}

#nuestra-experiencia {
    background-image: url(img/experiencia.jpg);
    background-size: cover;
    padding: 120px 0;
    h2 { font-weight: 900; line-height: 1; }
    .timeline {
        margin-top: 120px;
        background: @sec;
        position: relative;
        border-radius: 0 8px 8px 0;
        @media @mobile {
            margin-top: 20px;
            border-radius: 0;
        }
        &:before {
            content: "";
            height: 100%;
            width: 100%;
            position: absolute;
            left: -100%;
            top: 0;
            background: @sec/1.2;
        }
        .time {
            font-weight: 900;
            color: @w;
            font-size: 3rem;
            margin: 5px 10px;
            text-align: center;
        }
        .text {
            background: @w;
            font-size: 0.9rem;
            padding: 30px;
            margin-right: 30px;
            margin-top: -120px;
            margin-bottom: -120px;
            border-radius: 8px;
            box-shadow: 0 30px 30px rgba(0,0,0,0.2);
            @media @mobile {
                margin-top: 20px;
                margin-bottom: 20px;
                margin-right: 40px;
                margin-left: 40px;
            }
        }
    }
}

#productos {
    padding: 140px 0;
    h2 { font-weight: 900; line-height: 1; }
    aside {
        border-radius: 8px;
        margin-top: 60px;
        background: @sec;
        color: @w;
        padding: 20px;
        box-shadow: 0 30px 30px rgba(0,0,0,0.2);
        h3 { font-weight: 900; }
        p { font-size: 0.9rem; }
        .has-text-right {
            margin: 10px 0 20px 0;
        }
        button {
            border-radius: 6px;
            box-shadow: 0 20px 20px rgba(0,0,0,0.2);
            color: @sec;
            font-weight: 700;
            .font;
            .button {
                margin: -10px -10px -10px 30px;
                transform: scale(1.1);
                color: @w;
                background: #F9B800;
            }
        }
    }

    .cardProduct {
        border: none;
        border-radius: 8px;
        box-shadow: 0 20px 20px rgba(0,0,0,0.2);
        .card-image, figure.image { border: none; }
        img { border-radius: 8px; }
        footer {
            .font;
            .button {
                font-weight: 700;
                font-size: 0.9rem;
                border: none;
                background: @sec;
                color: @w;
                @media @mobile {
                    font-size: 0.8rem;
                }
            }
        }
    }
}

#catalogo {
    padding: 100px 0;
    h2 { font-weight: 900; line-height: 1; }
    h4 { font-weight: 900; }
    .bannerCatalogo {
        margin: 40px 0;
        background-color: #E7DAB8;
        background-image: url(img/catalogobg.jpg);
        background-position: center;
        background-size: cover;
        padding: 80px 20px;
        .button {
            background: @b;
            color: @w;
            border:none;
            .font;
            font-weight: 900;
            margin: 0 20px;
            box-shadow: 0 10px 20px rgba(0,0,0,0.2);
        }
    }
}


#contacto {
    padding: 80px 0;
    h2 { font-weight: 900; line-height: 1; }
    h5 {
        color: @main;
        font-weight: 700;
        margin: 20px 0 4px 0;
    }
    address {
        margin: 60px 0;
        font-style: normal;
        a { 
            color: @sec;
            font-weight: 700;
            &:hover { color: @main; }
        }
        button.is-small {
            .font;
            background: @main;
            color: @b;
            border: none;
            box-shadow: 0 4px 10px rgba(0,0,0,0.1);
            &:hover { background: @w; }
            span { margin-left: 10px;}
        }
        .card {
            iframe {
                height: 450px;
            }
            img { max-width: 140px; }
        }
    }
    form {
        margin: 60px 0;
        .b-radio {
            border: none;
            box-shadow: 0 4px 10px rgba(0,0,0,0.1);
            margin: 6px;
            border-radius: 6px;
            &.is-info { background: @sec; box-shadow: 0 10px 20px rgba(0,0,0,0.2); }
        }
        .submit {
            border: none;
            box-shadow: 0 10px 20px rgba(0,0,0,0.2);
            margin: 6px;
            border-radius: 6px;
            padding-left: 30px;
            padding-right: 30px;
            font-weight: bold;
            &.is-warning { background: @main; }
        }
    }
}

footer {
    background: @w/1.02;
    padding: 10px;
    font-size: 0.8rem;
}


.categoriasbtns .is-active{
    background-color: @main;
    border-color: @main;
    color: @w !important;
}